<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <a href="https://ru.anarchistlibraries.net/special/index">Библиотека Анархизма</a>
    <h2>Быстрые ссылки</h2>
    <ul>
        <li><a href="https://www.nihilist.li/2014/01/19/stanislav-markelov-krasnaya-kniga-antifa/">Станислав Маркелов - Красная книга антифа</a></li>
        <li><a href="https://ru.anarchistlibraries.net/library/petr-kropotkin-hleb-i-volya">Пётр Кропоткин - Хлеб и Воля</a></li>
    </ul>
</body>
</html>